.teams h3, .linkss a {
    color: #2f2f2f;
    font-weight: 600;
}
.teams  {
    color: #2f2f2f;

}
.teams p, .teams a {
    color: #6a6a6a;
    font-size: 14px;

}
.team-section-header {
    color: #2f2f2f;
    font-size: 32px;

}

.team-section {
    padding: 112px 0;
    background-color: #eff2f1;
}

@media screen and (max-width:992px) {
    

   .team-section-header {
       font-size: 24px;
       color: #2f2f2f;
   }
}
