.cart-form {
    padding: 112px 0 192px 0;
    overflow: auto;
}
.cart-form .table-img {
    width: 100px;
}
.cart-form td, .cart-form th {
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
select {
    width: 20%;
    padding: 3px 2px;
    background: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 2px #5e5e8e7a;
}
select:focus {
    border: none;
    outline: none;
}
option {
    padding: 3px 2px;
    border-radius: 0 0 5px 5px;
}
.remove-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.table-form {
    min-width: 600px;
}
.table-img {
    width: 100px !important;
}
tbody {
    padding: 0 20px;
}
td {
    vertical-align: middle;
}
.input-group {
    box-sizing: border-box;
}
.input-group button {
    border: none;
}
.input_field {
    max-width: 50px;
    border: 1px solid #6a6a6a6f;
    text-align: center;
}
.input_field:focus {
    outline: none;
}
.productQty {
    max-width: 120px;
}