.cart-form {
    padding: 112px 0 192px 0;
}
.cart-form .table-img {
    width: 100px;
}
.cart-form td, .cart-form th {
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
.remove-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.table-form {
    overflow: auto;
}
tbody {
    padding: 0 20px;
}

.productQty {
    max-width: 120px;
}