.product-card {
    position: relative;
    text-align: center;
    z-index: 2;
    padding-bottom: 35px !important;
}

.product-card::after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 0;
    width: 100%;
    border-radius: 10px;
    background-color: #DCE5E4;
    z-index: -1;
    transition: all  .3s ease-in-out;
}

.product-card:hover::after {
    height: 68%;
}

.product-card:hover .product-img {
    transform: translateY(-25px);
}

.product-name {
    font-weight: 600;
    font-size: 16px;
}

.product-price {
    font-weight: 800;
    font-size: 18px;
}

.product-img {
    width: 100%;
    transition: all  .3s ease-in-out;
}

.product-card span {
    position: absolute;
    bottom: -18px;
    right: 45%;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000;
    transform: translateY(-30px);
}

.cartBtn {
    opacity: 0;
    transition: all  .3s ease-in-out;
}
.cartBtn:hover {
    cursor: pointer;
}

.product-card:hover .cartBtn {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width:768px) {
    .cartBtn {
        transform: translateY(0);
        opacity: 1;
    }
}