.contact-us-form {
    padding: 112px 0;
}

.location{
    background-color: #3b5d50;
    height: 50px;
    width: 70px;
    min-width: 70px;
    border-radius: 10px;
    margin-right: 20px;
}

 p {
    font-size: 14px;
}