.crafted-with-excellent-material {
    padding: 150px 0 !important;
    /* margin: 0; */
}

.crafted h2 {
    color: #2f2f2f !important;
}

.crafted p {
    color: #2f2f2f !important;
    font-size: 14px;
    color: #6a6a6a !important;
}